%form#video-form.pure-form.pure-form-aligned{ :action => "/registration/create", :method => "post", :enctype => "multipart/form-data" }
  %fieldset
    %legend= @title
    .pure-control-group
      %label Name:
      %input#name{ :type => "text", :name => "registration[name]" }

    .pure-control-group
      %label Email:
      %input#email{ :name => "registration[email]" }

    .pure-control-group
      %label School:
      %input#school{ :type => "text", :name => "registration[school]" }

    .pure-control-group
      %label Github:
      %input#github{ :type => "text", :name => "registration[github]" }

    .pure-controls
      %button.pure-button.pure-button-primary{ :type => "submit" } Submit
